.h2{
    font-family: 'Poppins-Bold', sans-serif;
}

.default-white{
    color: #18609d;
    font-family: 'Poppins-Bold' sans-serif;
}


@media screen and (max-width: 599px){

    .align {
        
        
        font-size: large;
    }
  }