<div class="jumbotron d-flex align-items-center justify-content-center vh100">
  <div class="col-md-4 col-9 mx-auto ">
    <div class="imagePreview container">
      <img src="../../../../assets/images/isologo.png" alt="cali" class="img-fluid" data-toggle="tooltip" data-placement="top" title="Helados CALI">
    </div>
    <div class="card border">
      <div class="card-header px-lg-1">
        <div class="card-heading text-primary">
          <div class="form-group fit container">
          </div>
          <h3 class="text-center primary">Inicio de Sesión</h3>
        </div>
      </div>
      <div class="card-body ">
        <h4 class="mb-2">Bienvenido a Helados Cali, Maturín. 👋</h4>
        <p class="text-muted text-sm">Introduce tu usuario y contraseña por favor.



        </p>

        <form (ngSubmit)="login()" [formGroup]="loginForm">
          <div class=" mb-3 form-group">
            <label>Correo:<span class="text-danger"></span></label>
            <div class="input-group input-group-lg">
              <div class="input-group-text"><i class="fa-solid fa-at"></i></div>
            <input class="form-control" id="floatingInput" type="email" formControlName="email"
              placeholder="correo@gmail.com">
            
            </div>

            @if (loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['required']) {
            <div class="alert mt-3 alert-danger">El Correo es requerido</div>
            }
            @if (loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['minlength']) {
            <div class="alert mt-3 alert-danger">El Correo debe de tener minimo
              {{loginForm.get('email')?.errors?.['minlength'].requiredLength}} caracteres</div>
            }

          </div>
          <div class="mb-3 form-group">
            <label>Contraseña:<span class="text-danger"></span></label>

            <div class="input-group input-group-lg">
              <div class="input-group-text"><i class="fa-solid fa-key"></i></div>
              <input class="form-control" id="floatingPassword" type="password" formControlName="password"
              placeholder="Contraseña">
            
            </div>

            

            @if (loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required']) {
            <div class="alert mt-3 alert-danger">La Contraseña es requerida</div>
            }
            @if (loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['minlength']) {
            <div class="alert mt-3 alert-danger">La contraseña debe de tener minimo
              {{loginForm.get('password')?.errors?.['minlength'].requiredLength}} caracteres</div>
            }

          </div>
          @if (error) {<div class="alert alert-danger mb-3 px-1">{{message}}</div>}
          <button class="btn btn-primary btn-block w-100" type="submit"
            [disabled]="loginForm.invalid || isSubmiting">Acceder</button>
        </form>
        <div>
          <p class="pt-2 forgot text-md-end">¿Olvidaste tu contraseña?
            <a class="px-0 mynav" style="cursor: pointer; color: blue" (click)="resetPassword()">
              <span class="">Recuperar clave</span>
            </a>
          </p>

        </div>
      </div>
    </div>
    <h5 class="text-white text-center">Tecnologías usadas</h5>
    <div class="row flex flex-row align-content-between">
      <div class="flex-column imagePreview container">
        <img src="../../../../assets/images/angular.png" alt="angular" class="img-fluid image" data-toggle="tooltip" data-placement="left" title="Angular 17">
      </div>
      <div class=" flex-column imagePreview container">
        <img src="../../../../assets/images/nestjs.png" alt="nestjs" class="img-fluid image" data-toggle="tooltip" data-placement="right" title="NestJS">
      </div>
    </div>
  </div>
</div>