.jumbotron{
    background: linear-gradient(to right, #0E122B, #18609d);
}
.alert {
    font-weight: 500;   
 }

.imagePreview{
    width: 200px;
}

.forgot{
    font-weight: 500;
}

.image{
    max-height: 150px;
    max-width: 150px;
}

.vh100{
    min-height: 100vh;
}