<app-header title="Pedidos"></app-header>

<main class="py-6 bg-surface-secondary">
    <div class="container-fluid mb-lg-2">



        <div class="card mt-lg-3 border-0 mb-7">
            <div class="container-fluid">
                <button class="btn btn-dark btn-sm float-end mb-1" (click)="reload()">
                    <div class="icon icon-shape dark text-white text-lg rounded-circle">
                        <i class="fa-solid fa-arrows-rotate"></i>
                    </div>
                </button>

            </div>

            <app-modal [saleForm]="true" modalId="modal" (emitData)="newValue($event)"
                class="col text-sm-end"></app-modal>


            <app-table [colNames]="columnNames" [columns]="columns" [report]="true" [rowData]="saleList"
                [saleModal]="true" [operations]="op" (onEdit)="edit($event)" (onCancel)="cancel($event)"
                (onConfirm)="confirm($event)" (onDelete)="delete($event)"></app-table>

        </div>
    </div>


</main>