<!-- Header -->
<header class="bg-surface-primary border-bottom pt-6">
    <div class="container-fluid">
        <div class="mb-npx">
            <div class="row align-items-center justify-content-between">
                <div class="col-sm-6 col-12  mb-4 mb-sm-0">
                    <!-- <h2 class="text-red">Bienvenido
                        <span class="text-default poppings">{{getUserInfo()}}</span>
                    </h2> -->

                </div>
                <div class="text-center align mt-2">
                    <div class="mx-n1">
                        <span class="poppings mx-auto h2 mb-0 ls-tight headerr">Visión General</span>
                    </div>
                </div>
            </div>
            <ul class="nav nav-tabs mt-4 overflow-x border-0">
            </ul>
        </div>
    </div>
</header>
<main class="py-6 bg-surface-secondary">
    <div class="container mb-lg-2">

        <div class="row g-6 mb-6 mt-lg-3">
            <div class="col-xl-3 col-sm-6 col-md-6 col-7">
                <div class="card dark cardCursor text-white shadow border-0">
                    <a style="text-decoration: none;" class="text-white" routerLink="/products">
                        <div class="card-body">
                            <div class="row">
                                <div class="col"> <span class="h6 font-semibold  text-sm d-block mb-2">Contamos
                                        con </span> <span class="h5 poppings font-bold mb-0">{{stats?.inventory}} helados</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape dark text-white text-lg rounded-circle"> <i
                                            class="fa-solid fa-ice-cream"></i> </div>
                                </div>
                            </div>
                            <div class="mt-2 mb-0 text-sm"> <span
                                    class="badge badge-pill bg-soft-success text-success me-2"> </span> <span
                                    class="text-nowrap text-xs ">registrados.</span> </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-xl-3 col-sm-6 col-md-6 col-7">
                <div class="card default cardCursor text-white shadow border-0">
                    <a style="text-decoration: none;" class="text-white" routerLink="/users">
                        <div class="card-body">
                            <div class="row">
                                <div class="col"> <span class="h6 font-semibold  text-sm d-block mb-2">Contamos
                                        con </span> <span class="h5 poppings font-bold mb-0">{{stats?.users}} clientes</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape default text-white text-lg rounded-circle"> <i
                                            class="fa-solid fa-user-group"></i> </div>
                                </div>
                            </div>
                            <div class="mt-2 mb-0 text-sm"> <span
                                    class="badge badge-pill bg-soft-success text-success me-2"> </span> <span
                                    class="text-nowrap text-xs ">registrados en CALI.</span> </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-md-6 col-7">
                <div class="card red cardCursor text-white shadow border-0">
                    <a style="text-decoration: none;" class="text-white" routerLink="/sales">
                        <div class="card-body">
                            <div class="row">
                                <div class="col"> <span class="h6 font-semibold  text-sm d-block mb-2">Se han realizado
                                        </span> <span class="h5 poppings font-bold mb-0">{{stats?.sales}} entregas</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape red text-white text-lg rounded-circle"> <i
                                            class="fa-solid fa-cart-flatbed"></i> </div>
                                </div>
                            </div>
                            <div class="mt-2 mb-0 text-sm"> <span
                                    class="badge badge-pill bg-soft-danger text-danger me-2"></span> <span
                                    class="text-nowrap text-xs ">totales.</span> </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-md-6 col-7">
                <div class="card yellow cardCursor shadow border-0">
                    <a style="text-decoration: none;" class="text-black" routerLink="/sales">
                        <div class="card-body">
                            <div class="row">
                                <div class="col"> <span class="h6 font-semibold  text-sm d-block mb-2">Hay
                                    </span>
                                    <span class="h5 poppings font-bold mb-0">{{stats?.incompletes}}
                                        pedidos </span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape yellow text-black text-lg rounded-circle"> <i
                                            class="fa-solid fa-cash-register"></i> </div>
                                </div>
                            </div>
                            <div class="mt-2 mb-0 text-sm"> <span
                                    class="badge badge-pill bg-soft-success text-success me-2"> </span> <span
                                    class="text-nowrap text-xs ">pendientes.</span> </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="card mt-lg-3 border-0 mb-7">
            <div class="card-header">
                <h5 class="mb-0">Últimos pedidos</h5>
            </div>
            <app-table [colNames]="columnNames" [columns]="columns" [rowData]="bills"
                [operations]="{edit:false,delete:false}" (onEdit)="editItem($event)"
                (onDelete)="deleteItem($event)" [hideSearch]="true"></app-table>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h4 class="text-center">HELADOS MÁS VENDIDOS</h4>
                    <div class="card shadow border-0 mb-7">
                        <canvas id="myChart"></canvas>

                    </div>
                </div>
                <div class="col-6">
                    <h4 class="text-center">TOP 5 CLIENTES</h4>
                    <div class="card shadow border-0 mb-7">
                        <canvas id="myChart2"></canvas>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>